# **Actividad3**

In [2]:
import pandas as pd
import numpy as np

# Aquí tomamos el archivo de la direccion URL en formato 'raw'.
url = 'https://raw.githubusercontent.com/RaulACortez/FisicaComputacional1/main/FisicaComputacional1/Actividad1/ClimatologiaDiariaSantaAna.txt'

# Aquí definimos el nombre de las columnas, tambien procesaremos los datos usando python.
my_cols = ['Fecha','Precip','Evap','Tmax','Tmin']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

Aquí imprimimos los primeros y las ultimos 10 renglones del Dataframe.

In [3]:
# Aquí revisamos el encabezao y el final del dataframe.
print(df_dist.head(10))
print(df_dist.tail(10))

        Fecha Precip  Evap  Tmax Tmin
0  02/01/1969      0  Nulo    22    2
1  03/01/1969      0  Nulo    17    2
2  04/01/1969      0  Nulo    15    3
3  06/01/1969      0  Nulo    19    1
4  07/01/1969      0  Nulo  Nulo    0
5  08/01/1969      0  Nulo  Nulo    0
6  09/01/1969      0  Nulo    15    1
7  10/01/1969      0  Nulo  Nulo    0
8  11/01/1969      0  Nulo    19    2
9  13/01/1969      0  Nulo    22    2
            Fecha Precip  Evap Tmax Tmin
10762  21/04/2016      0  Nulo   29   13
10763  22/04/2016      0  Nulo   28   15
10764  23/04/2016      0  Nulo   29   14
10765  24/04/2016      0  Nulo   25   14
10766  25/04/2016      0  Nulo   24   12
10767  26/04/2016      0  Nulo   23   13
10768  27/04/2016      0  Nulo   22   11
10769  28/04/2016      0  Nulo   26   10
10770  29/04/2016      0  Nulo   22   11
10771  30/04/2016      0  Nulo   24   10

Aquí veremos la dimensión de nuestro Dataframe.

In [4]:
df_dist.shape

(10772, 5)

Informacion del Dataframe.

In [5]:
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10772 entries, 0 to 10771
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   10772 non-null  object
 1   Precip  10772 non-null  object
 2   Evap    10772 non-null  object
 3   Tmax    10772 non-null  object
 4   Tmin    10772 non-null  object
dtypes: object(5)
memory usage: 420.9+ KB

Hacemos una coppia del trabajo y preservamos el Dataframe original.

In [6]:
df_work0 = df_dist.copy()
df_work0.head()

        Fecha Precip  Evap  Tmax Tmin
0  02/01/1969      0  Nulo    22    2
1  03/01/1969      0  Nulo    17    2
2  04/01/1969      0  Nulo    15    3
3  06/01/1969      0  Nulo    19    1
4  07/01/1969      0  Nulo  Nulo    0

Reemplazaremos la palabra "Nulo" por espacio en blanco.

In [7]:
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip Evap Tmax Tmin
0  02/01/1969      0        22    2
1  03/01/1969      0        17    2
2  04/01/1969      0        15    3
3  06/01/1969      0        19    1
4  07/01/1969      0              0

Imprimmos la información actualizada.

In [9]:
df_work1.info()
print(df_work1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10772 entries, 0 to 10771
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   10772 non-null  object
 1   Precip  10772 non-null  object
 2   Evap    10772 non-null  object
 3   Tmax    10772 non-null  object
 4   Tmin    10772 non-null  object
dtypes: object(5)
memory usage: 420.9+ KB
        Fecha Precip Evap Tmax Tmin
0  02/01/1969      0        22    2
1  03/01/1969      0        17    2
2  04/01/1969      0        15    3
3  06/01/1969      0        19    1
4  07/01/1969      0              0

En éste paso se nos pide convertir los objetos a números flotantes.

Comenzaremos por las columnas que son reales o flotantes (Precip, Evap, Tmax y Tmin).

In [10]:
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10772 entries, 0 to 10771
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   10772 non-null  object
 1   Precip  10770 non-null  float64
 2   Evap    8143 non-null   float64
 3   Tmax    10708 non-null  float64
 4   Tmin    10747 non-null  float64
dtypes: float64(4), object(1)
memory usage: 420.9+ KB

Sumamos los valores nulos e imprimimos de nuevo el encabezado y pie de pagina.

In [11]:
df_work1.isnull().sum()

Fecha        0
Precip       2
Evap      2629
Tmax        64
Tmin        25
dtype: int64

In [12]:
print(df_work1.head())
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  02/01/1969     0.0   NaN  22.0   2.0
1  03/01/1969     0.0   NaN  17.0   2.0
2  04/01/1969     0.0   NaN  15.0   3.0
3  06/01/1969     0.0   NaN  19.0   1.0
4  07/01/1969     0.0   NaN   NaN   0.0
        Fecha  Precip  Evap  Tmax  Tmin
0  02/01/1969     0.0   NaN  22.0   2.0
1  03/01/1969     0.0   NaN  17.0   2.0
2  04/01/1969     0.0   NaN  15.0   3.0
3  06/01/1969     0.0   NaN  19.0   1.0
4  07/01/1969     0.0   NaN   NaN   0.0

Realizamos una estadística básica de las variables del Dataframe.

In [13]:
df_work1.describe()

             Precip         Evap          Tmax          Tmin
count  10770.000000  8143.000000  10708.000000  10747.000000
mean       0.885469     5.881776     31.189531     13.625998
std        5.085385     3.221910      7.894925      7.282133
min        0.000000     0.000000      1.000000    -10.000000
25%        0.000000     3.200000     26.000000      7.000000
50%        0.000000     5.400000     32.000000     14.000000
75%        0.000000     8.200000     38.000000     20.000000
max      140.000000    18.000000     49.000000     32.000000

**Análisis de la variable Fecha**

Haremos una copia del dataframe.

In [14]:
df_work2 = df_work1.copy()
df_work2['Fecha'].head()

0    02/01/1969
1    03/01/1969
2    04/01/1969
3    06/01/1969
4    07/01/1969
Name: Fecha, dtype: object

Convertiremos el objeto Fecha en a formato de fecha que comprende Phyton.

In [15]:
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  02/01/1969     0.0   NaN  22.0   2.0
1  03/01/1969     0.0   NaN  17.0   2.0
2  04/01/1969     0.0   NaN  15.0   3.0
3  06/01/1969     0.0   NaN  19.0   1.0
4  07/01/1969     0.0   NaN   NaN   0.0

verificaremos que todas las variables son del tipo deseado.

In [16]:
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

Crearemoms 2 columnas para el año y el mes, usaremos una funcion de pandas para extraerlos.

In [18]:
df_work2['Año'] = df_work2['Fecha'].dt.year
df_work2['Mes'] = df_work2['Fecha'].dt.month

Verificamos que nuestro dataframe tenga la forma deseada.

In [19]:
print(df_work2.head())
print(df_work2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1969-01-02     0.0   NaN  22.0   2.0  1969    1
1 1969-01-03     0.0   NaN  17.0   2.0  1969    1
2 1969-01-04     0.0   NaN  15.0   3.0  1969    1
3 1969-01-06     0.0   NaN  19.0   1.0  1969    1
4 1969-01-07     0.0   NaN   NaN   0.0  1969    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
10767 2016-04-26     0.0   NaN  23.0  13.0  2016    4
10768 2016-04-27     0.0   NaN  22.0  11.0  2016    4
10769 2016-04-28     0.0   NaN  26.0  10.0  2016    4
10770 2016-04-29     0.0   NaN  22.0  11.0  2016    4
10771 2016-04-30     0.0   NaN  24.0  10.0  2016    4

Verificamos que todas las variables son del tipo adecuado.

In [23]:
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object